# 민감정보 (중요)
.env
.env.local

# IDE 설정 (IntelliJ)
.idea/
*.iml
*.iws
*.ipr
out/

# IDE 설정 (VS Code, 팀원 사용 가능성 대비)
.vscode/

# Java / Maven 빌드 산출물
target/
*.class
.tools/

dependency-reduced-pom.xml

# 프론트엔드
node_modules/
dist/

# DB / 볼륨 관련
db/data/

# OS별 잡파일
.DS_Store
Thumbs.db
desktop.ini

# 로그 파일
*.log